@model LJWebsite.Models.Entities.FunctionTemplateChannel

@{
    ViewData["Title"] = "Add Channel";
}

<h4>Add Channel</h4>
<div class="control-label">for Template Id: @Model.FunctionTemplateRefID, Function: @Model.FunctionTemplate.ControllerFunction.Name, Description: @Model.FunctionTemplate.Description</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddChannel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="FunctionTemplateRefID" type="hidden" />
            <div class="form-group">
                <label asp-for="Channel" class="control-label"></label>
                <input asp-for="Channel" class ="form-control" />
            </div>
            @if(@Model.FunctionTemplate.ControllerFunction.Name=="Color")
            {
            <div class="form-group">
                <label asp-for="ColorKeyId" class="control-label"></label>
                <select asp-for="ColorKeyId" class ="form-control" asp-items="ViewBag.ColorKeyID"></select>
            </div>
            }
            <div class="form-group">
                <label asp-for="ValueRangeFrom" class="control-label"></label>
                <input asp-for="ValueRangeFrom" class ="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ValueRangeTo" class="control-label"></label>
                <input asp-for="ValueRangeTo" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
