@model LJWebsite.Models.Entities.Fixture

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fixture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartNr" class="control-label"></label>
                <input asp-for="PartNr" class="form-control" />
                <span asp-validation-for="PartNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                <h5><small>please enter URL for the Image</small></h5>
            </div>
            <div class="form-group">
                <label asp-for="ManualUrl" class="control-label"></label>
                <input asp-for="ManualUrl" class="form-control" />
                <span asp-validation-for="ManualUrl" class="text-danger"></span>
             <h5><small> please enter URL for the Manual</small></h5>
            
            </div>
            <div class="form-group">
                <label asp-for="MaxChannels" class="control-label"></label>
                <input asp-for="MaxChannels" class="form-control" />
                <span asp-validation-for="MaxChannels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
     <a asp-action="Edit" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil">&nbsp;</a> |
      <a asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
